@media screen and (max-width: 2916px) {
  nav {
    position: flex;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  } 

  .flex-row-2 {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}}